.details {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  padding: 10px;
}

.header {
  font-size: 2rem;
}

.detail_list {
  background-color: var(--bg-color-secondary);
  box-shadow: var(--box-shadow-before);
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-size: 2rem;
}
