@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

:root {
  --text-color-primary: #f5f3f5;
  --text-color-secondary: #b3c5cd;

  --bg-color-primary: #3a3f44;
  --bg-color-secondary: #272b30;

  --color-savings: #72c070;
  --color-regular: #72bbff;

  --font-family: "Share Tech", sans-serif;
  --box-shadow-before: 0px 2px 8px rgb(0, 0, 0, 0.3);
  --box-shadow-after: 0px 4px 16px rgb(0, 0, 0, 0.5);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
}

* {
  box-sizing: border-box;
  color: inherit;
  font: inherit;
}
