/* The entire Card component */
.card {
  border-radius: 5%;
  background-color: var(--bg-color-secondary);
  box-shadow: var(--box-shadow-before);

  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-after);
}

/* The image section of the Card */
.card_media {
  width: 100%;
  height: 215px;
  aspect-ratio: attr(width) / attr(height);
  cursor: pointer;
}

/* The text section of the Card */
.card_content {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
}

.card_title {
  color: var(--text-color-primary);
  font-family: inherit;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
}

.card_desc {
  color: var(--text-color-secondary);
  font-family: inherit;
}

/* The add/price section within the Card Content */
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 1.25rem;
}

.add {
  color: var(--text-color-primary);
  background-color: var(--color-regular);
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.add:hover {
  color: var(--color-regular);
  background-color: var(--text-color-primary);
}

.chip_savings {
  background-color: var(--color-sale);
  border-radius: 10% 0 0 10%;
  font-size: inherit;
  font-family: var(--font-family);
}

.chip_price {
  color: var(--text-color-primary);
  background-color: var(--bg-color-primary);
  border-radius: 0 10% 10% 0;
  font-size: inherit;
  font-family: var(--font-family);
}
